# Preserve line endings for all files (don't modify)
* -text

# But for some files, allow Git to normalize line endings

# Git
**/.gitignore text=auto
**/.gitattributes text=auto

# GitHub
.github/**/*.yml text eol=lf

# Text
*.txt text=auto
*.md text=auto
**/ABOUT text=auto
**/LICENSE text=auto
           
# Code
*.ts text=auto
*.js text=auto

# Configuration
**/.editorconfig text=auto

# Unix
*.sh text eol=lf

# Shellcheck
**/.shellcheckrc text eol=lf
